body {
    font-size: 1.1em;
    color: DarkSlateGray;
  };
  
#contact-form-div {
    background-color: darkolivegreen;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;

}

#display-container {
    background-color: burlywood;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}
