h1 {
    color: darkmagenta
}

#contact-form-div {
    background-color: cornflowerblue;
    border: 5px solid burlywood;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}

#display-container {
    background-color: burlywood;
    border: 5px solid cornflowerblue;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;

}